ROC/PP/apps/ecperf/src/docroot/dtd/po.dtd

<!-- DTD for Supply of Components   D. Guy 2000.05.19 -->

<!ELEMENT PURCHASE-ORDER	(PO-NUMBER, SITE-ID, NUMLINES, POLINE+)>
<!ELEMENT PO-NUMBER		(#PCDATA)>
<!ELEMENT SITE-ID		(#PCDATA)>
<!ELEMENT NUMLINES		(#PCDATA)>
<!ELEMENT POLINE		(LINE-NUMBER, PART-ID, QTY,
				   	BALANCE, LEAD-TIME)>
<!ELEMENT LINE-NUMBER		(#PCDATA)>
<!ELEMENT PART-ID		(#PCDATA)>
<!ELEMENT QTY			(#PCDATA)>
<!ELEMENT BALANCE		(#PCDATA)>
<!ELEMENT LEAD-TIME		(#PCDATA)>
