ROC/path-analysis/ecperf-1.0-2/src/docroot/dtd/delivery.dtd

<!-- DTD for Delivery of Components   D. Guy 2000.05.19 -->

<!ELEMENT DELIVERY 		(PO-NUMBER, NUMLINES, POLINE+)>
<!ELEMENT PO-NUMBER		(#PCDATA)>
<!ELEMENT NUMLINES		(#PCDATA)>
<!ELEMENT POLINE		(LINE-NUMBER, PART-ID, QTY)>
<!ELEMENT LINE-NUMBER		(#PCDATA)>
<!ELEMENT PART-ID		(#PCDATA)>
<!ELEMENT QTY			(#PCDATA)>
